<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.fixedfloatwindow">
<application>
<activity
    android:name="com.yhao.floatwindow.FloatActivity"
    android:configChanges="keyboardHidden|orientation|screenSize"
    android:launchMode="standard"
    android:theme="@style/permission_PermissionActivity"
    android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
</application>
</manifest>